/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.2
 *
*/

// Google Fonts
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");


// Variables, Mixins
@import "variables";
@import "mixins";


// INSPINIA Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badgets_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "chat";
@import "metismenu";
@import "spinners";

// Landing page
@import "landing";

// RTL Support
@import "rtl";

// For demo only - config box style
@import "theme-config";

// INSPINIA Skins
@import "skins";

// Media query style
@import "media";

// Custom style
// Your custom style to override base style
@import "custom";

/*
 * Style
 * ----------------------------------------------------- */

.page-heading {
  padding: 0;
}

.page-heading__profile-section {
  padding: 5px 25px;
  margin: 25px 0;
  &.bordered {
    border-right: 1px solid #e7eaec;
  }
  .page-heading__profile-title {
    font-family: "Open Sans";
    letter-spacing: 1px;
  }
  .page-heading__profile-paragraph {
    color: #c4c4c4;
    margin-top: -7px;
    font-weight: 200;
    font-family: "Open Sans";
    font-size: 11px;
  }
  .page-heading__profile-desc {
    position: relative;
    position: relative;
    padding-left: 80px;
    min-height: 60px;
    margin-top: 20px;
    .page-heading__profile-desc-paragraph {}
  }
  .page-heading__profile-avatar {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 60px;
    margin: 10px 20px 0 0;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px #F1F1F1;
  }
}

.page-heading__tabs {
  list-style: none;
  display: inline;
  li {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    .page-heading__page-title {
      margin: 0 0 0 20px;
      padding: 0;
      bottom: 0;
      line-height: 56px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
    }
    a {
      text-transform: uppercase;
      font-family: "Open Sans";
      color: #6c6c8b;
      font-weight: 600;
      font-size: 15px;
      position: relative;
      line-height: 56px;
      display: block;
      z-index: 1;
    }
    .badge {
      position: absolute;
      top: 12px;
      z-index: 0;
      right: -10px;
    }
    &.active a:before {
      background-color: #dc6f6a;
      content: " ";
      position: absolute;
      bottom: 0px;
      height: 5px;
      width: 100%;
    }
    &:after {
      content: " ";
      background-color: #e7eaec;
      width: 1px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -15px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child:after {
      background-color: transparent;
    }
  }
}

#teams-boxes {
  padding: 0 10px;
  .owl-prev, .owl-next {
    color: #a7b1c2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #D7D9DA;
    display: block;
    padding: 30px 15px;
    transition: color .4s ease-in-out,background .1s ease-in-out;
    &:hover {
      background-color: #eee;
      color: #dc6f6a;
    }
  }
  .owl-prev {
    left: -25px;
    border-left: none;
  }
  .owl-next {
    right: -25px;
    border-right: none;
  }
}

.team-box {
  border: 1px solid #D7D9DA;
  margin: 10px 15px;
  border-radius: 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .row {
    margin: 0;
  }
  [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .team-box__section {
    position: relative;
    height: 320px;
    .team-box__section-divider {
      position: absolute;
      top: 0;
      bottom: 60px;
      background-color: #D7D9DA;
      width: 1px;
      display: block;
      right: 0;
      margin: auto;
      z-index: 1;
    }
    &.black {
      background-color: #333;
    }
  }
  .team-box__avatar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 160px;
  }
  .team-box__name {
    font-weight: 600;
    color: #6c6c8b;
    margin-top: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .team-box__manager {
    .team-box__manager-avatar {
      height: 45px;
      width: 45px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin: -25px auto 0;
      border: 1px solid #eaeaea;
      background-color: #fff;
      box-shadow: 0 0 10px #F1F1F1;
    }
    .team-box__manager-name {
      font-weight: 500;
      color: #dc6f6a;
      margin-top: 10px;
    }
    .team-box__manager-lastsignin {
      color: #868686;
      font-weight: 300;
      margin-top: -10px;
    }
  }
  .team-box__players {
    margin-top: 15px;
    text-align: center;
  }
  .team-box__player {
    display: inline-block;
    margin-top: 20px;
    .team-box__player-avatar {
      height: 45px;
      width: 45px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid #eaeaea;
      margin-left: 3px;
      margin-right: 3px;
      box-shadow: 0 0 10px #F1F1F1;
    }
  }
  .team-box__footer {
    border-top: 1px solid #D7D9DA;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-color: #edecf1;
    .team-box__footer-divider {
      position: absolute;
      left: 0;
      right: 0;
      top: 17px;
      height: 30px;
      width: 1px;
      background-color: #D7D9DA;
      margin: auto;
    }
    .team-box__footer-info {
      width: 50%;
      border: 0;
      padding: 0;
      float: left;
      margin-top: 10px;
      .team-box__footer-info-title {
        color: #dc6f6a;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      .team-box__footer-info-subtitle {
        margin-top: -10px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

.latest-matches {
  background-color: #31302F;
  height: 320px;
  position: relative;
  .latest-matches__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width: 200px;
    background-size: 100% auto;
    opacity: 0.6;
    &.radiant {
      left: 0;
      background-image: url(../images/bg@radiant.png);
    }
    &.dire {
      right: 0;
      background-image: url(../images/bg@dire.png);
    }
  }
  .latest-matches__title {
    line-height: 3;
    color: #F98D8D;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 10px 0 3px 0;
    font-weight: 300;
    font-family: "AdelleRegular";
  }
  .latest-matches__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .latest-matches__item {
      cursor: pointer;
      &:hover {
        background-color: #000;
      }
    }
  }
  .latest-matches__picks {

  }
  .latest-matches__pick {
    display: inline-block;
    margin: 0 4px;
    .latest-matches__pick-avatar {
      height: 20px;
      width: 35px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .latest-matches__team {
    .latest-matches__team-meta {
      font-size: 10px;
      font-family: "AdelleRegular";
      margin: 0;
      padding: 0;
      line-height: 1.2;
      margin-bottom: 5px;
    }
    &.radiant {
      text-align: right;
      margin-right: 10px;
      .latest-matches__team-meta {
        color: #A9CF54;
      }
    }
    &.dire {
      text-align: left;
      margin-left: 10px;
      .latest-matches__team-meta {
        color: #C23C2A;
      }
    }
  }
  .latest-matches__team-name {
    color: #f1f1f1;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
}


/* TASKS
 **/
.task-list {
  list-style: none;
  position: relative;
  li {
    margin: 20px 0;
    &.timeline-line {
      position: absolute;
      left: 64px;
      top: 20px;
      height: 100%;
      width: 2px;
      background-color: #EFEFEF;
    }
  }
  .date {
    position: relative;
    padding-left: 60px;
    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #dc6f6a;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      padding: 15px;
    }
    h5 {
      color: #2d3441;
      margin-bottom: 0;
      margin-top: 10px;
      text-transform: uppercase;
    }
    p {
      text-transform: uppercase;
      color: #B9B9B9;
    }
  }
  .info {
    /*background-color: #4e4e4e;*/
    position: relative;
    padding-left: 80px;
    background-color: #fbfbfb;
    min-height: 51px;

    .time {
      min-height: 51px;
      position: absolute;
      left: 0;
      /*transform: translateY(-50%);*/
      /*top: 50%;*/
      font-size: 15px;
      color: #2d3441;
      padding: 15px;
      background-color: #EFEFEF;
    }
    h4 {
      font-weight: 600;
      color: #2d3441;
    }
    .course-name {
      margin: 0;
      text-transform: uppercase;
      font-size: 11px;
      color: #ADADAD;
    }
    .undone {
      position: absolute;
      right: 10px;
      border-radius: 50%;
      padding: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #2ecc71;
      color: #fff;
    }
  }
}

