<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>SIGAA-X - Login</title>
    <!-- meta -->
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- meta::facebook -->
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <!-- meta::twitter -->
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <!-- stylesheets::front-end framework -->
    <link href="assets@admin/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- stylesheets::fonts -->
    <link href="assets@admin/fonts/brandon/font.css" rel="stylesheet">
    <link href="assets@admin/fonts/adelle/font.css" rel="stylesheet">
    <link href="assets@admin/fonts/aktiv-grotesk/font.css" rel="stylesheet">
    <link href="assets@admin/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- stylesheets::vendor -->
    <link href="assets@admin/vendor/animate/animate.css" rel="stylesheet">
    <link href="assets@admin/vendor/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="assets@admin/vendor/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="assets@admin/vendor/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="assets@admin/vendor/owlcarousel/assets/owl.carousel.css" rel="stylesheet">
    <!-- stylesheets::main -->
    <link href="assets@admin/styles/main.min.css" rel="stylesheet">
</head>
<body ng-app="WEBApp">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6 text-center m-b-lg">
                <div><h1 class="logo-name">SIGAA-<span>X</span></h1></div>
                <h3>Welcome</h3>
                <p>Absolutely designed to provide a clean, fast and attractive web vision for the academic application <strong>SIGAA UFRN</strong></p>
                <p>Login in. To see it in action.</p>
            </div>
            <div class="col-md-6">
                <div class="ibox-content text-center">
                    <form class="m-t m-b" role="form" ng-controller="LoginController" ng-submit="login()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#"><small>Forgot password?</small></a>
                        <p class="text-muted text-center"><small>Do not have an account?</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-8">
                <strong>COPYRIGHT</strong> SIGAA-X webapp
            </div>
            <div class="col-xs-4 text-right">
               <small>&copy; 2015</small>
            </div>
        </div>
    </div>

    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.js"></script>
    <script src="assets/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="assets/bower_components/query-string/query-string.js"></script>
    <script src="assets/bower_components/angular-oauth2/dist/angular-oauth2.min.js"></script>

    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <!-- scripts::jquery -->
    <script src="assets@admin/vendor/jquery/jquery-2.1.1.js"></script>

    <!-- scripts::front-end framework -->
    <script src="assets@admin/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- scripts::vendor -->

    <!-- scripts::main -->
    <script src="assets@admin/scripts/main.min.js"></script>
</body>
</html>
