@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('akzidenz-grotesk-light.eot'); /* IE9 Compat Modes */
  src: url('akzidenz-grotesk-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('akzidenz-grotesk-light.woff') format('woff'), /* Modern Browsers */
       url('akzidenz-grotesk-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('akzidenz-grotesk-light.svg#e99903d30d7e23a236376fec0ff6a5d4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

