@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?7ivym5');
	src:url('fonts/icomoon.eot?#iefix7ivym5') format('embedded-opentype'),
		url('fonts/icomoon.ttf?7ivym5') format('truetype'),
		url('fonts/icomoon.woff?7ivym5') format('woff'),
		url('fonts/icomoon.svg?7ivym5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\21";
}
.icon-facebook:before {
	content: "\22";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\ea97";
}
.icon-vimeo:before {
	content: "\ea9c";
}
.icon-flickr:before {
	content: "\eaa1";
}
.icon-soundcloud:before {
	content: "\eac4";
}
