@font-face {
  font-family: 'Didot';
  src: url('ufonts.com_didot.eot'); /* IE9 Compat Modes */
  src: url('ufonts.com_didot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ufonts.com_didot.woff') format('woff'), /* Modern Browsers */
       url('ufonts.com_didot.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ufonts.com_didot.svg#7226759d2e91f9f52d6cba6d35e6a606') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

