/*
* Style
* ----------------------------------------------------- */

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-input-placeholder { color: #333; }
:-moz-placeholder { color: #333; }
::-moz-placeholder { color: #333; }
:-ms-input-placeholder { color: #333; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	background-color: #FFF;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 25px;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 200;
	&:focus {
    background-color: #FFF;
		outline: none;
	}
}

img.responsive {
	width: 100% !important;
}

img.alignright {
	float: right; margin: 0 0 1em 1em;
}

img.alignleft {
	float: left; margin: 0 1em 1em 0;
}

img.aligncenter {
	display: block; margin-left: auto; margin-right: auto;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	display: block; margin-left: auto; margin-right: auto;
}

.text-lowercase {
	text-transform: lowercase;
}

.hidden {
	display: none;
}

.plus {
	font-size: 45px;
	font-weight: 700;
	vertical-align: middle;
}

.icon-back {
	background-image: url("../images/ico@back.png");
	display: block;
	width: 100%;
	height: 13px;
	background-repeat: no-repeat;
	background-position: center top;
}

.right-strip {
	width: 50px;
	right: 0;
	top: 0;
	height: 100%;
	position: fixed;
	z-index: 2;
	background-color: #ebece0;
	transition: all .5s ease-in-out;
}

.pagination {
	height: 30px;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	.pagination__page {
		vertical-align: middle;
		height: 5px;
		width: 5px;
		margin: 8px;
		background-color: #fc5620;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
		text-indent: -9999px;
		&.current, &:hover {
			border-color: #fc5620;
			height: 9px;
			width: 9px;
			margin: 6px;
		}
	}
}
