@font-face {
  font-family: 'Rockwell';
  src: url('Rockwell-Std-Bold_38427.eot'); /* IE9 Compat Modes */
  src: url('Rockwell-Std-Bold_38427.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rockwell-Std-Bold_38427.woff') format('woff'), /* Modern Browsers */
       url('Rockwell-Std-Bold_38427.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rockwell-Std-Bold_38427.svg#9d80a877711fd1aaa53360958f9f424a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Rockwell';
  src: url('Rockwell-Std-Extra-Bold_38429.eot'); /* IE9 Compat Modes */
  src: url('Rockwell-Std-Extra-Bold_38429.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rockwell-Std-Extra-Bold_38429.woff') format('woff'), /* Modern Browsers */
       url('Rockwell-Std-Extra-Bold_38429.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rockwell-Std-Extra-Bold_38429.svg#9677faedf7e318f12f2794348f9fe846') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Rockwell';
  src: url('Rockwell-Std_38433.eot'); /* IE9 Compat Modes */
  src: url('Rockwell-Std_38433.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Rockwell-Std_38433.woff') format('woff'), /* Modern Browsers */
       url('Rockwell-Std_38433.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Rockwell-Std_38433.svg#5b3b76b3d6dc41019fa81ab49344d872') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

